<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate code page</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>


</head>
<body>
<div class="container-fluid">
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    <a th:href="@{/map}">Go back to Map</a>
                </div>
            </div>
        </main>
    </div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mb-3">
                <img src="images/fogGoogle1.jpg" class="d-block w-100" alt="fogGoogle1">
                <div class="card-body">
                    <h5 class="card-title">FROM BARRACKS BUS STOP</h5>
                    <p class="card-text">Turn right into TEJUOSHO road</p>
                    <p class="card-text"><small class="text-muted">Then turn right onto ARALILE st</small></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card mb-3">
                <img src="images/fog2e.jpg" class="d-block w-100" alt="fog2e">
                <div class="card-body">
                    <h5 class="card-title">FROM BARRACKS BUS STOP</h5>
                    <p class="card-text">Turn right into TEJUOSHO road.</p>
                    <p class="card-text"><small class="text-muted">Then turn right onto ARALILE st</small></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mb-3">
                <img src="images/fogGoogle2.jpg" class="d-block w-100" alt="fogGoogle2">
                <div class="card-body">
                    <h5 class="card-title">TURN RIGHT INTO ARALILE</h5>
                    <p class="card-text"> Navigate right at luji ankara fabrics onto ARALILE.</p>
                    <p class="card-text"><small class="text-muted">Turn right and head straight onto ARARLILE</small></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mb-3">
                <img src="images/fogGoogle3.jpg" class="d-block w-100" alt="fogGoogle3">
                <div class="card-body">
                    <h5 class="card-title">TAKE A SHARP LEFT TURN ONTO ARALILE</h5>
                    <p class="card-text">Turn left at The old paths Revival Church to stay on Aralile St.</p>
                    <p class="card-text"><small class="text-muted">Turn left and head straight down</small></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mb-3">
                <img src="images/fogGoogle4.jpg" class="d-block w-100" alt="fogGoogle4">
                <div class="card-body">
                    <h5 class="card-title">TURN RIGHT UNTO ONITANA ST</h5>
                    <p class="card-text">Turn right at Honey Dew Bakery onto ONITANA St.</p>
                    <p class="card-text"><small class="text-muted">Head straight down towards the transformer and turn right</small></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mb-3">
                <img src="images/fogGoogle5.jpg" class="d-block w-100" alt="fogGoogle5">
                <div class="card-body">
                    <h5 class="card-title">HEAD STRAIGHT ON ONITANA St</h5>
                    <p class="card-text">Keep eyes on the right for COLINDALE ESTATE BLACK GATE.</p>
                    <p class="card-text"><small class="text-muted">Colindale estate gate is just by the left hand side</small></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mb-3">
                <img src="images/airporthotel6e.jpg" class="d-block w-100" alt="airporthotel6e">
                <div class="card-body">
                    <h5 class="card-title">Colindale park Estate</h5>
                    <p class="card-text">You have arrived at your destination </p>
                    <p class="card-text"><small class="text-muted">Submit your entrance code to the security for check.</small></p>
                </div>
            </div>
        </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


</div>

</body>
</html>