<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

<title>Registration Successful</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!--link rel="stylesheet" type="text/css" th:href="@{/styles.css}" /-->
</head>
<body>

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">sms sent successfully!</h4>
        <p>Sms sent to your phone number</p>
        <hr>

    </div>
</div>

<div class="text-center">
		<h2>Sms sent successfully</h2>
		<h4>You have sent sms successfully</h4>
		<p>Please check your phone number.</p>

	</div>

</body>
</html>
